<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Vins de Bordeaux</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="logo">Les Vins de Bordeaux</h1>
            <nav>
                <ul>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="wine-selection">
        <div class="container">
            <h2>Liste des Vins</h2>
            <div class="wine-list" id="wine-list">
                <!-- Afficher les titres des vins -->
                {{range .}}
                <div class="wine-item">
                    <a href="/vin/{{.ID}}">
                        <h3>{{.Title}}</h3>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Les Vins de Bordeaux. Tous droits réservés.</p>
        </div>
    </footer>

</body>

</html>
