<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz des Vins</title>
</head>
<body>
    <h1>Choisissez vos vins</h1>
    <form method="POST" action="/">
        <label for="type">Type de vin :</label>
        <select name="type" id="type">
          <option value="0">Tous</option>
          <option value="1">Rouge</option>
          <option value="2">Blanc</option>
          <option value="3">Rosé</option>
          <option value="4">Pétillant</option>
          <option value="5">Dessert</option>
        </select>
        <br>
      
        <label for="country">Pays :</label>
        <input type="text" name="country" id="country">
        <br>
      
        <label for="price">Plage de prix :</label>
        <select name="price" id="price">
            <option value="0">Tous</option>
          <option value="1">Moins de 50€</option>
          <option value="2">50€ - 150€</option>
          <option value="3">Plus de 150€</option>
        </select>
        <br>
      
        <input type="submit" value="Filtrer">
      </form>
      

    <h2>Vins disponibles :</h2>
    <ul>
        {{range .}}
        <li>{{.Title}} ({{.TypeStr}}) - {{.Price}}€</li>
        {{end}}
    </ul>
</body>
</html>
